C:\Users\Mitch\Documents\GitHub\IRACopyPasta\webrecorder\ira-copypasta-campaign-20200308043044.warc
*.mtgl
graphika/pdf/extractimg/croppedimg/image--003/supplements/paul.j.nelson1/img/macOS Catalina Final by Geekrar.rar
graphika/pdf/extractimg/croppedimg/image--003/supplements/paul.j.nelson1/img/macOS Catalina Final by Geekrar/macOS Catalina Final [Geekrar].vmdk
graphika/pdf/extractimg/croppedimg/image--003/supplements/paul.j.nelson1/img/VirtualBox-6.1.4-136177-Win.exe
graphika/pdf/extractimg/croppedimg/image--003/supplements/paul.j.nelson1/img/macOS Catalina Final by Geekrar/macOS Catalina Final [Geekrar].vmdk
maltego/IRACopyPasta.mtgl
